.wrapper-control-block{
    margin-bottom: 10px;
}
.wrapper-control-block-section{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}
.input-color{
    height: 30px;
    padding: 0;
    border: none;
    outline: none;
    width: 30px;
}