.car-block{
    margin-bottom: 15px;
}
.road-car-block{
    width: 100%;
    border-top: 3px dashed silver;
}
.car-img{
    display: flex;
    align-items: flex-end;
    width: 100px;
    transition: transform  ;
}

.high-section-car-block{
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
   
}
.middle-car-block{
    display: flex;
    margin-right: 100px;
    justify-content: space-between;
}
.button-wrapper{
    display: flex;
    column-gap: 5px;
    align-items: flex-start;
}

.left-wrapper-car-block{
    display: flex;
    column-gap: 5px;
}

.right-wrapper-car-block{
    display: flex;
    align-items: flex-end;
}

.car-name{
    margin-left: 10px;
    font-size: 18px;

    color: rgb(23, 107, 163);
}
.car-winner{
    padding-left: 10%;
    font-size: 18px;
    font-weight: 700;
    color: rgb(23, 107, 163);
}
.button-select{
    height: 25px;
}
.button-car-block{
    height: 25px;
}